body {
  background-size: 400% 400%;
  height: 100vh;
  #nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85px;
    .Groupomania {
      width: 250px;
      height: 200px;
    }
    ul {
      li {
        list-style-type: none;
        a {
          font-size: large;
          font-weight: bold;
          text-decoration: none;
          color: white;
          &:hover {
            transition: all 0.3s ease;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
  .signup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 80px;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #011627;
      border: 1px solid rgb(209, 209, 209);
      height: 450px;
      margin: 20px;
      padding: 20px;
      button {
        display: flex;
        margin-top: 20px !important;
        margin: auto;
        background-color: rgb(255, 255, 255);
        color: black;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 50% !important;

        &:hover {
          cursor: pointer;
        }
      }
      h2 {
        padding-left: 50px;
        padding-right: 50px;
        color: white;
      }
      .flex {
        display: flex;
        flex-direction: column;
        label {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        input {
          border: none;
          width: 200px;
          padding-left: 20px;
          padding-right: 10px;
          margin-left: 40px;
          margin-right: 40px;
          height: 30px;
          background-color: rgb(243, 243, 243);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
  form {
    display: block;
  }

  .color {
    color: white;
  }

  .error {
    color: white;
    margin: 20px;
  }

}
@media screen and (max-width: 400px) {
  body {
    #nav {
      display: flex;
      flex-direction: row;
      // align-items: center;
      // justify-content: inline;
      height: 85px;
      .Groupomania {
        width: 150px;
        height: 200px;
      }
      ul {
        padding: 0px;
        li {
          list-style-type: none;
        }
      }
    }
    .signup {
      display: flex;
      flex-direction: column;
      .Group {
        display: none;
      }
      h1 {
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}
