@media screen and (min-width: 550px) {
  .main {
    width: 60%;
    margin: auto;
    .form1 {
      display: inline-block;
      .title {
        display: flex;
        justify-content: center;
      }
      input {
        width: 450px;
        height: 30px;
        border: 1px solid rgb(255, 157, 157);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-left: 15px;
        margin-bottom: 20px;
      }

      textarea {
        width: 500px;
        height: 160px;
        border-radius: 15px;
        padding: 10px 0 0 15px;
        border: 1px solid rgb(255, 157, 157);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .file {
        padding-top: 10px;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .send {
          width: 90px;
          height: 30px !important;
          border-radius: 20px;
          border: 1px solid black !important;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
          color: black;
          margin: 10px 0 0 20px;
        }
      }
    }
  }
}

.hero {
  background-color: #011627 !important;
  padding: 20px;
}
.main {
  width: 60%;
  margin: auto;
  .form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .label-title {
      width: 450px;
      height: 50px;
      border: 2px solid rgb(0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding-left: 15px;
      border-radius: 0;
      margin-bottom: 20px;
    }

    textarea {
      width: 450px;
      height: 160px;
      border-radius: 0;
      padding: 10px 0 0 15px;
      border: 2px solid rgb(0, 0, 0);
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .file {
      padding-top: 10px;
      width: 350px;
      margin-left: 0px;
      border-radius: 0;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      .send {
        border: 1px solid black !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
        border-radius: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 549px) {
  .hero {
    margin-top: 20px !important ;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    .main {
      margin-top: 50px auto;
      .title {
        display: flex;
        justify-content: center;
      }
      input {
        width: 100%;
        height: 30px;
        border: 1px solid rgb(255, 157, 157);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      textarea {
        width: 300px;
        height: 160px;
        border-radius: 0;
        padding: 10px 0 0 15px;
        border: 2px solid rgb(0, 0, 0);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .file {
        padding-top: 10px;
        width: 100%;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .send {
          width: 90px;
          height: 30px !important;
          border-radius: 20px;
          border: 1px solid black !important;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
          color: black;
          margin: 10px 0 0 20px;
        }
      }
    }
  }
}
